Source: cubicweb-questionnaire
Section: web
Priority: optional
Maintainer: LOGILAB S.A. (Paris, FRANCE) <contact@logilab.fr>
Build-Depends: debhelper (>= 7), python (>=2.5), python-support
Standards-Version: 3.9.3
XS-Python-Version: >= 2.5

Package: cubicweb-questionnaire
Architecture: all
Depends: cubicweb-common (>= 3.15.1), ${python:Depends}, cubicweb-file
Description: Cube for questionnaires.
 CubicWeb is a semantic web application framework.
 .
 Cube for questionnaires.
 .
 This package will install all the components you need to run the
 cubicweb-questionnaire application (cube :)..
